@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-menuList {
    display: flex;

    // ヘッダー
    &--header {
        justify-content: space-between;
        height: 100%;
    }
    &--header > &__item {
        width: 120px;
        font-size: 0.9rem;
        letter-spacing: 1.25px;
        img, & > a {
            @include baseTransition();
        }
        &:hover {
            img {
                transform: translateY(-6px);
            }
            & > a {
                color: $mainColor;
            }
        }
        &--withSubMenu {
            & > .p-menuList {
                flex-direction: column;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: center top;
                padding-top: 16px;
                @include baseTransition();
            }
            &:hover {
                & > .p-menuList {
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
        }
    }

    // サブメニュー
    &--headerSub {
        background-color: $baseColor;
    }
    &--headerSub > &__item {
        height: 56px;
        font-size: 0.85rem;
        letter-spacing: 1px;
        box-sizing: content-box;
        border-top: solid 1px rgba($fontColorBlack, 0.1);
        &:last-child {
            border-bottom: solid 1px rgba($fontColorBlack, 0.1);
        }
        &:hover {
            & > a {
                color: $fontColorBlack;
                background-color: rgba($fontColorBlack, 0.1);
            }
        }
    }

    // フッター
    &--footer {
        justify-content: space-between;
        @include setBrakePoint(sp) {
            flex-wrap: wrap;
            row-gap: 12px;
        }
    }
    &--footer > &__item {
        flex-grow: 1;
        text-align: center;
        border-left: solid 1px $fontColorBlack;
        & > a {
            @include baseTransition(0.1);
        }
        &:hover {
            & > a {
                color: $mainColor;
            }
        }
        &:nth-child(1) {
            border-left: initial;
        }
        @include setBrakePoint(sp) {
            &:nth-child(3) {
                border-left: initial;
            }
        }
    }

    // 投稿一覧メニュー
    &--post {
        justify-content: space-between;
        @include setBrakePoint(sp) {
            flex-wrap: wrap;
            row-gap: 8px;
        }
    }
    &--post > &__item {
        font-size: clamp(0.9rem, 0.726rem + 0.63vw, 1.2rem);
    }

    // スライドメニュー
    &--slide {
        flex-direction: column;
    }
    &--slide > &__item {
        border-bottom: 1px solid rgba($fontColorBlack, 0.1);
        font-size: clamp(0.9rem, 0.864rem + 0.18vw, 1rem);
        width: 100%;
        height: auto;
        min-height: 4em;
        & > a {
            height: 4em;
            &:active {
                background-color: rgba($fontColorBlack, 0.1);
            }
        }
        &--withDownMenu {
            & > .p-menuList {
                visibility: hidden;
                height: 0;
                opacity: 0;
            }
            :has(input:checked) {
                & + .p-menuList {
                    visibility: visible;
                    height: auto;
                    opacity: 1;
                    @include baseTransition();
                }
            }
        }
    }

    &--slideSub {
        flex-direction: column;
    }
    &--slideSub > &__item {
        font-size: inherit;
        width: 100%;
        height: auto;
        min-height: 4em;
        & > a {
            padding-left: 1em;
            height: 4em;
            &:active {
                background-color: rgba($fontColorBlack, 0.1);
            }
        }
    }
}