@use "../foundation/mixin" as *;

.p-postTitle {
    &__subItem {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__date {
        font-size: clamp(0.8rem, 0.713rem + 0.32vw, 0.95rem)
    }
    &__badge {
        font-size: clamp(0.65rem, 0.592rem + 0.21vw, 0.75rem);
        padding: 0.3em 0.6em;
        border-radius: 4px;
    }
    &__text {
        font-size: clamp(1.3rem, 1.126rem + 0.63vw, 1.6rem);
        line-height: 1.5em;
        font-weight: bold;
        margin-top: 12px;
        @include setBrakePoint(sp) {
            margin-top: 8px;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        margin-top: 24px;
        @include setBrakePoint(sp) {
            margin-top: 16px;
        }
    }
}