@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-sidebarTitle {
    color: $fontColorBlack;
    font-size: clamp(1.15rem, 1.092rem + 0.21vw, 1.25rem);
    display: flex;
    align-items: center;
    &::after {
        content: "";
        flex-grow: 1;
        height: 2px;
        display: block;
        margin-left: 12px;
        background-color: $baseColor;
    }
}