@use "../../foundation/mixin" as *;

.c-postDesc {
    &__ttl {
        font-weight: 700;
        @include max(sp) {
            font-weight: 600;
        }
        &--font {
            &-M {
                font-size: clamp(0.65rem, 0.447rem + 0.74vw, 1rem);
                line-height: 1.3em;
            }
        }
    }
}