@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 180px;
        height: 90px;
        &:hover {
            @include hoverAction();
            @include hoverActionImg();
        }
        @include setBrakePoint(tb) {
            width: min(180px, 28vw);
            height: min(90px, 14vw);
        }
    }
    &__menu {
        width: min(600px, 60vw);
        height: 90px;
        @include setBrakePoint(tb) {
            display: none;
        }
    }
    &__search {
        display: none;
        @include setBrakePoint(tb) {
            display: block;
            margin-left: 8px;
            width: 6%;
            max-width: 28px;
            min-width: 24px;
            font-size: 1.4rem;
        }
    }
    &__burger {
        display: none;
        @include setBrakePoint(tb) {
            display: block;
            margin-right: 8px;
            width: 6%;
            max-width: 28px;
            min-width: 24px;
            height: 24px;
            position: relative;
            z-index: 2;
            & > span {
                display: block;
                width: 100%;
                height: 3px;
                position: absolute;
                transition: 0.5s;
                background-color: $fontColorBlack;
                &::before, &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: inherit;
                    background-color: $fontColorBlack;
                }
                &::before {
                    top: -8px;
                }
                &::after {
                    top: 8px;
                }
            }
            &--active {
                background-color: $baseColor;
                & > span {
                    background-color: transparent;
                    &::before, &::after {
                        width: 100%;
                        height: 100%;
                    }
                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                        background-color: $fontColorBlack;
                    }
                    &::after {
                        top: 0;
                        transform: rotate(-45deg);
                        background-color: $fontColorBlack;
                    }
                }
            }
        }
    }
}