@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 180px;
        height: 90px;
        &:hover {
            @include hoverAction();
            @include hoverActionImg();
        }
        @include setBrakePoint(tb) {
            width: min(180px, 28vw);
            height: min(90px, 14vw);
        }
    }
    &__menu {
        width: min(580px, 58vw);
        height: 90px;
        @include setBrakePoint(tb) {
            display: none;
        }
    }
    &__icon {
        display: none;
        @include setBrakePoint(tb) {
            display: inline;
            margin: 0 8px;
        }
    }
}