@use "../foundation/base" as *;

.p-pagination {
    font-size: clamp(1.1rem, 1.045rem + 0.27vw, 1.25rem);
    width: 9em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    &__button {
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        &--previous {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        &--next {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
    }
    &__text {
        color: rgba($fontColorBlack, 0.4);
    }
}