@use "../foundation/mixin" as *;

.p-postList {
    display: flex;
    &--main {
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    &--sidebar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @include setBrakePoint(sp) {
            gap: 18px;
        }
    }
}