
@use "../foundation/mixin" as *;
@use "../foundation/base" as *;

.p-postCard {
    // 投稿スライダー
    &--slider {
        width: min(288px, 23vw);
        @include setBrakePoint(tb) {
            width: 31vw;
        }
        &:hover {
            @include hoverAction();
            @include hoverActionImg();
        }
    }
    &--slider &__contents {
        display: flex;
        flex-direction: column;
        gap: min(14px, 2vw);
    }
    &--slider &__thumbnail {
        border-radius: 1%;
    }
    &--slider &__desc {
        padding: 0 2px;
        font-size: clamp(0.65rem, 0.447rem + 0.74vw, 1rem);
        line-height: 1.3em;
    }

    // 投稿メイン
    &--main {
        border: solid .0625rem rgba($fontColorBlack, 0.15);
        border-radius: 1%;
        position: relative;
        width: min(368px, 31vw);
        height: min(380px, 33vw);
        @include setBrakePoint(tb) {
            width: 44vw;
            height: 44vw;
            min-height: 352px;
        }
        @include setBrakePoint(sp) {
            width: 92vw;
            height: 90vw;
            min-height: 344px;
        }
        &:hover {
            @include hoverAction();
            @include hoverActionImg();
            box-shadow: 0px 5px 15px 0px rgba($fontColorBlack, 0.2);
        }
    }
    &--main &__contents {
        display: flex;
        flex-direction: column;
        gap: min(20px, 4vw);
    }
    &--main &__thumbnail {
        position: relative;
        border-radius: 1% 1% 0 0;
    }
    &--main &__badge {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 1rem;
        padding: 0.6em 1.2em;
        @include setBrakePoint(tb) {
            font-size: clamp(0.8rem, 0.631rem + 0.62vw, 1rem);
        }
        @include setBrakePoint(sp) {
            font-size: clamp(0.8rem, 0.537rem + 1.68vw, 1rem);
        }
    }
    &--main &__desc {
        padding: 0 16px;
        font-size: clamp(0.8rem, 1.33vw, 1rem);
        line-height: 1.5em;
        @include setBrakePoint(tb) {
            font-size: 0.9rem;
        }
    }
    &--main &__date {
        position: absolute;
        bottom: 16px;
        right: 16px;
        font-size: 0.9rem;
        @include setBrakePoint(tb) {
            font-size: 0.85rem;
        }
    }

    // 投稿サイドバー
    &--sidebar {
        width: 96%;
        padding-top: 20px;
        @include setBrakePoint(sp) {
            padding-top: 18px;
        }
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(./img/border.png);
            content: "";
            height: 2px;
            width: 100%;
        }
        &:first-child {
            padding-top: 0;
            &::before {
                display: none;
            }
        }
        &:hover {
            @include hoverAction();
            @include hoverActionImg();
        }
    }
    &--sidebar &__contents {
        position: relative;
        display: flex;
        gap: 12px;
        @include setBrakePoint(sp) {
            gap: 8px;
        }
    }
    &--sidebar &__thumbnail {
        width: 24%;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;
        border-radius: 1%;
        @include setBrakePoint(tb) {
            width: 12%;
        }
        @include setBrakePoint(sp) {
            width: 20%;
        }
    }
    &--sidebar &__badge {
        position: absolute;
        top: -12px;
        left: -12px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        font-size: 0.9rem;
        @include setBrakePoint(sp) {
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 0.8rem;
        }
    }
    &--sidebar &__desc {
        font-size: clamp(0.7rem, 0.3rem + 0.67vw, 0.8rem);
        line-height: 1.5em;
        &:hover {
            @include hoverAction();
            color: $mainColor;
        }
        @include setBrakePoint(tb) {
            font-size: clamp(0.7rem, 0.531rem + 0.62vw, 0.9rem);
        }
    }
}
