@use "../foundation/mixin" as *;

.p-postList {
    display: flex;
    &--main {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        &::after {
            content: "";
            width: min(368px, 29.5vw);
            height: 0;
            @include setBrakePoint(tb) {
                width: 44vw;
            }
            @include setBrakePoint(sp) {
                content: none;
            }
        }
    }
    &--sidebar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @include setBrakePoint(sp) {
            gap: 18px;
        }
    }
}