@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-searchForm {
    display: none;
    @include setBrakePoint(tb) {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        &--active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__form {
        font-size: 1rem;
        width: 20em;
        height: 4em;
        @include setBrakePoint(sp) {
            width: 18em;
            height: 3em;
        }
        @include setBrakePoint(sp-s) {
            width: 16em;
        }
        display: flex;
        background-color: $fontColorWhite;
    }
    &__input {
        flex: 5;
        height: 100%;
        padding: 0 8px;
    }
    &__submit {
        flex: 1;
        height: 100%;
        color: $fontColorWhite;
        background-color: $mainColor;
        text-align: center;
    }
    &__close {
        display: block;
        text-align: center;
        margin-top: 24px;
        font-size: 1.2rem;
        color: $fontColorWhite;
        &::after {
            padding-left: 8px;
        }
    }
}
