@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-postSubItem {
    color: $fontColorBlack;
    font-weight: normal;
    &--bold {
        font-weight: bold;
    }
    &--colorLight {
        color: rgba($fontColorBlack, 0.6);
    }
}