@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-siteMenu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--alignLeft {
        justify-content: left;
        padding-left: 4px;
    }
    &--withDownMenu {
        padding: 0 4px;
        justify-content: space-between;
        & > input {
            cursor: pointer;
            width: 24px;
            height: 24px;
            position: relative;
            transition: 0.3s;
            &::after {
                content: "";
                width: 2px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: inherit;
                background-color: $mainColor;
            }
            &::before {
                content: "";
                width: 16px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: inherit;
                background-color: $mainColor;
            }
            &:checked {
                &::after {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }
    &--withImg {
        flex-direction: column;
        gap: 14px;
        img {
            width: 50%;
            height: 64%;
        }
    }
}