@use "../foundation/mixin" as *;

.u-mt {
    &--slider {
        margin-top: min(40px, 4.25vw);
    }
    &--contents {
        margin-top: min(40px, 4.25vw);
    }
    &--postMenu {
        margin-top: min(32px, 4.75vw);
    }
    &--postList {
        margin-top: min(32px, 4.75vw);
    }
    &--pagination {
        margin-top: min(44px, 10vw);
    }
    &--sidebar {
        margin-top: 6px;
        @include setBrakePoint(tb) {
            margin-top: 72px;
        }
    }
    &--sidebarItem {
        margin-top: 32px;
    }
    &--footer {
        margin-top: min(200px, 20vw);
    }
}