@use "../foundation/mixin" as *;

.l-container {
    @include wrapper();
    &__contents {
        display: flex;
        justify-content: space-between;
        @include setBrakePoint(tb) {
            flex-direction: column;
            justify-content: normal;
        }
    }
}