@use "../foundation/mixin" as *;

.l-main {
    width: 68%;
    @include setBrakePoint(tb) {
        width: 100%;
    }
    &--title {
        font-size: clamp(1.5rem, 1.355rem + 0.53vw, 1.75rem);
        font-weight: bold;
    }
}