@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.l-header {
    padding-top: 6px;
    &__contents {
        @include wrapper();
    }
    &__topImgArea {
        margin: 0 auto;
        width: 100%;
        max-width: 1800px;
        aspect-ratio: 1 / 0.3;
    }
}
