@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-button {
    border: 2px solid rgba($fontColorBlack, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        @include hoverAction();
        background-color: $mainColor;
        color: $fontColorWhite;
    }
}
