@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-desc {
    color: $fontColorBlack;
    font-weight: normal;
    &--bold {
        font-weight: bold;
    }
    &--colorLight {
        color: rgba($fontColorBlack, 0.6);
    }
    &--newLine {
        @include setBrakePoint(tb) {
            display: inline-block;
        }
    }
}