@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-siteMenu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--withImg {
        flex-direction: column;
        gap: 14px;
        img {
            width: 50%;
            height: 64%;
        }
    }
}