@use "../foundation/mixin" as *;
@use "../foundation/base" as *;

.c-tag {
    display: flex;
    gap: 2px;
    color: $mainColor;
    font-size: 0.9rem;
    @include setBrakePoint(sp) {
        font-size: 0.8rem;
    }
    padding: 4px 8px;
    border-radius: 16px;
    border: 1px solid $mainColor;
    @include hoverAction();
    &:hover {
        background-color: $mainColor;
        color: $fontColorWhite;
    }
}