@use "../foundation/mixin" as *;
@use "../foundation/base" as *;

.c-tag {
    display: inline-block;
    &--contents {
        display: flex;
        gap: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid $mainColor;
        &:hover {
            @include hoverAction();
            background-color: $mainColor;
            span {
                @include hoverAction();
                color: $fontColorWhite;
            }
        }
    }
    &--text {
        display: flex;
        gap: 2px;
        color: $mainColor;
        font-size: 0.9rem;
        @include setBrakePoint(sp) {
            font-size: 0.8rem;
        }
    }
}