@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-button {
    border-radius: 2%;
    box-shadow: 0px 2px 4px rgba($fontColorBlack, 0.4);
    &:hover {
        @include hoverAction();
    }
    &--baseColor {
        color: $fontColorWhite;
        background-color: $baseColor;
    }
    &--accentColor {
        color: $fontColorWhite;
        background-color: $accentColor;
    }
}
