@use "../foundation/mixin" as *;
@use "../foundation/base" as *;

.c-badge {
    display: inline-block;
    color: $fontColorWhite;
    &--firstPlace {
        background-color: #cdaa1e;
    }
    &--secondPlace {
        background-color: #a0a0a0;
    }
    &--thirdPlace {
        background-color: #9e8067;
    }
    &--otherPlace {
        background-color: #000000;
    }
}
