@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-contentsDesc {
    &__ttl {
        color: $fontColorBlack;
        font-weight: 600;
        @include setBrakePoint(sp) {
            font-weight: 500;
        }
        &--slider {
            font-size: clamp(0.65rem, 0.447rem + 0.74vw, 1rem);
            line-height: 1.3em;
        }
        &--main {
            font-size: clamp(0.8rem, 1.33vw, 1rem);
            line-height: 1.5em;
            @include setBrakePoint(tb) {
                font-size: 0.9rem;
            }
        }
    }
    &__date {
        font-weight: 400;
        color: rgba($fontColorBlack, 0.4);
        &--main {
            font-size: 0.9rem;
            @include setBrakePoint(tb) {
                font-size: 0.85rem;
            }
        }
    }
}