@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-contentsDesc {
    &__ttl {
        color: $fontColorBlack;
        font-weight: 600;
        @include setBrakePoint(sp) {
            font-weight: 500;
        }
        &--slider {
            font-size: clamp(0.65rem, 0.447rem + 0.74vw, 1rem);
            line-height: 1.3em;
        }
        &--main {
            font-size: clamp(0.8rem, 1.33vw, 1rem);
            line-height: 1.5em;
            @include setBrakePoint(tb) {
                font-size: 0.9rem;
            }
        }
        &--profile {
            font-size: 1.4rem;
            @include setBrakePoint(tb) {
                font-size: clamp(1.2rem, 1.031rem + 0.62vw, 1.4rem);
            }
            @include setBrakePoint(sp) {
                font-size: clamp(1.2rem, 1rem + 1.45vw, 1.4rem);
            }
        }
    }
    &__date {
        font-weight: 400;
        color: rgba($fontColorBlack, 0.4);
        &--main {
            font-size: 0.9rem;
            @include setBrakePoint(tb) {
                font-size: 0.85rem;
            }
        }
    }
    &__introduction {
        color: $fontColorBlack;
        font-size: clamp(0.68rem, -0.048rem + 1.21vw, 0.9rem);
        font-weight: 400;
        line-height: 1.4em;
        @include setBrakePoint(tb) {
            font-size: clamp(0.75rem, 0.665rem + 0.31vw, 0.85rem);
        }
        @include setBrakePoint(sp) {
            font-size: clamp(0.75rem, 0.65rem + 0.73vw, 0.85rem);
        }
    }
}