@use "../foundation/mixin" as *;

.c-icon {
    &--search, &--burger {
        width: min(40px, 10vw);
    }
    &--sns {
        width: 32px;
        height: 32px;
        @include setBrakePoint(tb) {
            width: 36px;
            height: 36px;
        }
    }
}