@use "../foundation/mixin" as *;

.c-icon {
    &--search, &--burger {
        &:hover {
            @include hoverAction();
            opacity: 0.7;
        }
    }
    &--sns {
        width: 32px;
        height: 32px;
        @include setBrakePoint(tb) {
            width: 36px;
            height: 36px;
        }
    }
}