@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-postMenuItem {
    color: $fontColorBlack;
    background-color: rgba($accentColor, 0.1);
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        @include hoverAction();
        opacity: 1;
        background-color: $baseColor;
        color: $fontColorWhite;
    }
}