@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.c-siteMenu {
    color: $fontColorBlack;
    &--hoverUnderLine {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background: $baseColor;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.3s;
        }
        &:hover::after {
            transform: scale(1, 1);
            transform-origin: left top;
        }
    }
    &--hoverColBase {
        &:hover {
            @include hoverAction();
            color: $baseColor;
        }
    }
}
