@use "../foundation/base" as *;

.c-tag {
    display: inline-block;
    border-radius: 4%;
    &--accentColor {
        background-color: rgba($accentColor, 0.9);
        color: $fontColorWhite;
    }
}