@use "../foundation/base" as *;

.p-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 0.855rem + 0.53vw, 1.25rem);
    gap: 40px;
    &__button {
        padding: 0.45em 1.15em;
    }
    &__text {
        color: rgba($fontColorBlack, 0.4);
    }
}