@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: min(200px, 36vw);
        height: min(80px, 14vw);
    }
    &__menu {
        width: min(688px, 64vw);
        font-size: clamp(0.938rem, 0.688rem + 0.42vw, 1rem);
        @include setBrakePoint(tb) {
            display: none;
        }
    }
    &__icons {
        display: none;
        @include setBrakePoint(tb) {
            display: flex;
            justify-content: space-between;
            width: min(96px, 20vw);
        }
    }
}