@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: min(190px, 36vw);
        height: min(90px, 18vw);
        padding-top: 12px;
        &:hover {
            @include hoverAction();
        }
    }
    &__menu {
        width: min(600px, 56vw);
        height: min(90px, 17vw);
        font-size: clamp(0.938rem, 0.688rem + 0.42vw, 1rem);
        @include setBrakePoint(tb) {
            display: none;
        }
    }
    &__icon {
        display: none;
        @include setBrakePoint(tb) {
            display: flex;
            justify-content: space-between;
        }
    }
}