@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-menuList {
    display: flex;

    // ヘッダー
    &--header {
        justify-content: space-around;
        height: 100%;
    }
    &--header &__item {
        height: 100%;
    }

    // フッター
    &--footer {
        justify-content: space-between;
        @include setBrakePoint(sp) {
            flex-wrap: wrap;
            row-gap: 12px;
        }
    }
    &--footer &__item {
        flex-grow: 1;
        text-align: center;
        border-left: solid 1px $fontColorBlack;
        &:nth-child(1) {
            border-left: initial;
        }
        @include setBrakePoint(sp) {
            &:nth-child(3) {
                border-left: initial;
            }
        }

    }

    // 投稿一覧メニュー
    &--post {
        justify-content: space-between;
        font-size: clamp(0.9rem, 0.697rem + 0.74vw, 1.25rem);
        @include setBrakePoint(sp) {
            flex-wrap: wrap;
            row-gap: 8px;
        }
    }
    &--post &__item {
        width: 24%;
        height: 2.5em;
        @include setBrakePoint(sp) {
            width: 49%;
            height: 2.75em;
        }
    }
}