@use "../foundation/mixin" as *;

.p-menuList {
    // サイトメニュー
    display: flex;
    justify-content: space-around;

    // 投稿一覧メニュー
    &--post {
        justify-content: space-between;
        font-size: clamp(1rem, 0.855rem + 0.53vw, 1.25rem);
        @include setBrakePoint(sp) {
            flex-wrap: wrap;
            row-gap: 8px;
        }
    }
    &--post &__item {
        width: 24%;
        height: 2.5em;
        @include setBrakePoint(sp) {
            width: 49%;
            height: 2.75em;
        }
    }
}