@use "../foundation/mixin" as *;

.p-postList {
    display: flex;
    &--slider {
        justify-content: space-between;
        @include wrapper();
        @include setBrakePoint(tb) {
            & .p-postCard:last-child {
                display: none;
            }
        }
    }
    &--main {
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
}