@use "../foundation/mixin" as *;

.p-postCard {
    width: min(288px, 23vw);
    @include max(tb) {
        width: min(300px, 30.75vw);
    }
    &:hover {
        @include hoverAction();
    }
    &__contents {
        display: flex;
        flex-direction: column;
        &--gap {
            &-M {
                gap: clamp(0.6rem, 0.426rem + 0.63vw, 0.9rem);
            }
        }
    }
    &__thumb {
        width: 100%;
        aspect-ratio: 1 / 0.625;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18);
        border-radius: 2%;
        overflow: hidden;
    }
    &__desc {
        &--px {
            &-S {
                padding: 0 2px;
            }
        }
    }
}