@use "../foundation/mixin" as *;

.p-postList {
    display: flex;
    &--slider {
        justify-content: space-between;
        @include wrapper();
        @include max(tb) {
            & .p-postCard:last-child {
                display: none;
            }
        }
    }
}