@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

.p-profile {
    &__img {
        width: min(144px, 36vw);
        height: min(144px, 36vw);
        margin: 0 auto;
    }
    &__desc {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        margin: 20px 20px 0;
        @include setBrakePoint(tb) {
            margin: 20px 28px 0;
        }
    }
    &__name {
        font-size: 1.4rem;
        @include setBrakePoint(tb) {
            font-size: clamp(1.2rem, 1.031rem + 0.62vw, 1.4rem);
        }
        @include setBrakePoint(sp) {
            font-size: clamp(1.2rem, 1rem + 1.45vw, 1.4rem);
        }
    }
    &__introduction {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: clamp(0.68rem, -0.048rem + 1.21vw, 0.9rem);
        line-height: 1.4em;
        @include setBrakePoint(tb) {
            font-size: clamp(0.75rem, 0.665rem + 0.31vw, 0.85rem);
        }
        @include setBrakePoint(sp) {
            font-size: clamp(0.75rem, 0.65rem + 0.73vw, 0.85rem);
        }
    }
    &__snsIconList {
        margin: 28px auto 0;
        @include setBrakePoint(tb) {
            margin: 32px auto 0;
        }
    }
}